<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="css/layout.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/post.css">
    <title>โพสต์</title>
</head>
<body class="post-profile">
    <%- include('partials/homeheader')  %>

<div>

  <p><strong>ชื่อ:</strong> <%= account.first_name %> <%= account.last_name %></p>
  <p><strong>ชื่อเล่น:</strong> <%= account.nickname %></p>
  <p><strong>อายุ:</strong> <%= account.age %> ปี</p>
  <p><strong>ลักษณะนิสัย:</strong> <%= account.personalities || "-" %></p>
  
</div>

<form action="/post/create" method="POST">
  <div>
    <label for="content">สิ่งที่อยากโพสต์:</label>
    <textarea id="content" name="content" required></textarea>
  </div>
  <button type="submit">โพสต์</button>
</form>
    
</body>
</html>